<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bienvenido a Preguntados</h1>

    </form>
  <form action="/start" method="post">
    <input type="submit" name="start" value="start">
  </form>
  </body>
</html>
