<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Nuevo juego</h1>
      <h2>Pregunta #1</h2>
        <form class="" action="/answer" method="post">
        <fieldset>
          <input type="radio" name="option" id="Barry Allen" value="Barry Allen">Barry Allen<br>
          <input type="radio" name="option" id="Bruce Wayne" value="Bruce Wayne">  Bruce Wayne<br>
          <input type="radio" name="option" id="Andy Warhole" value="Andy Warhole">Andy Warhole<br>
          <input type="radio" name="option" id="Roger Grayson"value="Roger Grayson">Roger Grayson<br>
        </fieldset>

          <input type="submit" name="Responder" value="answer">
        </form>

  </body>
</html>
